
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Wygasające licencje</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Data</th>
                  <th>Grupa</th>
                  <th>Serwis</th>
                  <th>Lokalizacja</th>
            
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>04-12-2018</td>
                  <td>Orlen</td>
                 <td>Spółka Serwisujemy</td>
                  <td>Anwil, Włocławek</td>
                </tr>
                 <tr>
                  <td>04-12-2018</td>
                  <td>Orlen</td>
                 <td>Spółka Serwisujemy</td>
                  <td>Anwil, Włocławek</td>
                </tr>
                 <tr>
                  <td>04-12-2018</td>
                  <td>Orlen</td>
                 <td>Spółka Serwisujemy</td>
                  <td>Anwil, Włocławek</td>
                </tr>
                 <tr>
                  <td>04-12-2018</td>
                  <td>Orlen</td>
                 <td>Spółka Serwisujemy</td>
                  <td>Anwil, Włocławek</td>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->