<div class="callout callout-info">
    <h4>Uprawnienia</h4>
    <p>
        {% for role in app.user.roles %}
            {{ role }} <br /> 
        {% endfor %} 
    </p>
</div>
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">Menu</li>
    <li class="treeview">
        <a href="{{ path('homepage') }}">
            <i class="fa fa-dashboard"></i> <span>Strona główna</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
    </li>
    <li><a href="{{ path('customer_index') }}"><i class="fa fa-users-cog"></i> <span>Klienci</span></a></li>
</ul>
<div class="callout callout-info">
    <h4>Kontakt techniczny</h4>
    <p>
        office@example.com<br />
        m: 739248952
    </p>
    <a href="{{ path('funkcjonalnosci_index') }}" class="btn btn-warning"><i class="fa fa-app-store"></i>Funkcjonalności</a>
    
</div>


